<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap" rel="stylesheet">

<h1>New Prototype</h1>

<%= render 'form', prototype: @prototype %>

<%= link_to 'Back', prototypes_path %>
