<%= javascript_pack_tag "prototype_#{@prototype.id}" %>
<div class="welcome">
  <h1>Welcome to Font Randomizer!</h1>
  <p>Yet you can press f5 to randomly choose a font</p>
</div>
<div class="prototype_<%= @prototype.id %>"></div>
