.prototypes_show {
  position: relative;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  padding: 40px;
  overflow: hidden;
}
.prototype_6 {
  display: flex;
  justify-content: flex-end;
}
